header{
  background-color: blueviolet;
  color: beige;
  text-align: center;
  grid-area: h;
  display: flex;
  gap: 5px;
  justify-content: flex-end;

}
header img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
form{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 7px;
  gap: 5px;
  border: 1px black solid;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form img{
  border-radius: 50%;
}
form input{
  width: 25%;
  flex: 2;
}
form button{
  width: 10%;
  flex: 2;
}
img{
  height: 200px;
  width: 200px;
}
.container{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-areas: 
  "h h h h h h h h h h h h "
  "m m m . c c c c c c c c";
}
.Menu-general{
  background-color: rgb(191, 133, 246);
  grid-area: m;
  height: 900%;
}
.Content {
  margin: 100px;
  padding: 20px;
  grid-area: c;
  display: flex;
  flex-direction: row;
  gap: 100px;
align-items: center;
justify-content: space-around;}
.Categories span {
  border: 1px black solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  background-color: #E7BCDE;

}
.Produits-stats span{
  border: 1px black solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  background-color: #BB9CC0;
}
.Produits{
  margin: 10px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 5px;
width: 100%;
grid-area: c;

}
.Produit{
  display: flex;
  flex-direction: column;
  flex-basis:30%;
}
.Produit img{
  height: 200px;
  width: 200px;
}
.titre{
  color: azure;
}
.stats {
  margin:  10px;
  background-color:#7b0c8c;
} .lc{
  margin: 10px;

  background-color:#7b0c8c;
}  
.lp{
  margin: 10px;

  background-color:#7b0c8c;
}
a{
  text-decoration: none; 
 color: white;
}

